<?xml version="1.0" encoding="UTF-8"?>
 <session-factory>
  <property name="hibernate.connection.driver_class">
    com.mysql.cj.jdbc.Driver
  </property>
  <property name="hibernate.connection.url">
  </property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.dialect">
  </property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="com.klu.Product"/>
 </session-factory>
</hibernate-configuration>